html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    /* background-image: url('../imgs/t680e-1250x650-b.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%; */
    font-family: Verdana, Helvetica, sans-serif;
    overflow-x: hidden;
    background: 
    linear-gradient(#6288C8 1%, #DFEFFD 90%), 
    /* linear-gradient(to right, #0067C2 0%, #263B5B 10%),  */
    url('../imgs/t680e-1250x650-b.jpeg');
  background-blend-mode: screen;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

h1, h2{
    text-align: center;
    color: #036ABF;
    /* padding-top: 18px; */
    /* margin: auto; */
    /* font-family: Verdana, Helvetica, sans-serif; */
    /* line-height: 1.2em; */
}

h1 {
    font-size: 65px;
}

h2 {
    font-size: 40px;
    margin-bottom: 30px;
}
p {
    color: #0347A2;
    /* color: black; */
    /* font-weight: bold; */
}
#sponsor_title {
    padding-top: 800px;
}

.container {
    margin-top: 800px;
}

#explore_btn {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 25px;
    background: rgba(3, 114, 198,  0.7);
    color: #0347A2;
    border: 1px solid #0347A2;
    /* color: #0A305A; */
}

#explore_btn:hover {
    color: white;
}

.title_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
}

.row {
    margin-bottom: 100px;
}


.card-body > video,
.card-body > img {
    width: 100%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#blue_logo {
    width: 15%;
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
    margin-bottom: 30px;
}

.footer {
    background-color: #0347A2 !important;
}

.footer .img {
    width: 10%;
}